<div class="chat-header">
  <div class="header-left">
    <div class="header-title">
      ゾロアスター教
    </div>
  </div>
  <div class="header-right">
    <div class="chat-end">  
      <a href="#">チャットを終了する</a>
    </div>  
  </div>  
</div>

<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="sender">Beck</div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:40
      </div>
    </div> 
    <div class="lower-message">   
      <div class="message-text">
        おはよう
      </div>
    </div>
  </div> 
  <div class="message">
    <div class="upper-message">
      <div class="sender">Carl</div>
      <div class="message-date">
        2020/3/31(Wed) 12:45:40
      </div>
    </div> 
    <div class="lower-message">   
      <div class="message-text">
        nice!
      </div>
    </div>
  </div> 
</div>         

<div class="chat-footer">
  <div class="form-input">
    <input class="message-send" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </labe>  
  </div>
  <input class="submit" type="submit" value="送信">
</div>