<div class="side-header">
  <div class="side-header-name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="side-header-create">  
    <a href="#"> チャットを作成する</a>
  </div>  
</div>

<div class="rooms">
  <div class="chat-room-name">
    <a href="#">ゾロアスター教</a>
  </div> 
  <div class="chat-room-name"> 
    <a href="#">仏教</a>
  </div>  
</div>