<div class="side-header">
  <div class="side-header-name">
    <a href="#">beck</a>
  </div>
  <div class="side-header-create">  
    <a href="#"> チャットを作成する</a>
  </div>  
</div>

<div class="rooms">
  <div class="chat-room-name">
    <a href="#">ゾロアスター教</a>
  </div> 
  <div class="chat-room-name"> 
    <a href="#">仏教</a>
  </div>  
</div>